.App {
  font-family: "Epilogue";
  font-weight: 500;
  min-height: 100vh;
  /* opacity: 0.5; */
  position: relative;
}

@media (min-width: 800px) {
  .App {
    background-color: var(--Almost-White);
  }
  .container {
    padding-top: 3.4em;
    padding-left: 8.1em;
    padding-right: 8.1em;
    padding-bottom: 3.3em;
    display: grid;
    grid-template-columns: 1.46fr 1fr;
    grid-template-rows: auto;
  }
}