html {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

body {
  margin: 0;
  /* background-image: url("../design/mobile-design.jpg"); */
  /* background-image: url("../design/mobile-menu-collapsed.jpg"); */
  /* background-image: url("../design/mobile-menu-expanded.jpg"); */
}

/* @media (min-width: 800px) {
  body {
    background-image: url("../design/desktop-design.jpg");
    background-image: url("../design/active-states.jpg");
  }
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}


@font-face {
  font-family: "Epilogue";
  font-weight: 500;
  src: url("./fonts/Epilogue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  src: url("./fonts/Epilogue-Bold.ttf") format("truetype");
}